html,body{
  height: 100%;
}
#app{
  height: 100%;
  color: $dark;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  border: none;
}
.text-center{
  text-align: center;
}

.balanced{
  color: $balanced
}
