html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#app {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  border: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.padding {
  padding: 20px;
}
.space {
  padding: 10px;
}
.balanced {
  color: $balanced
}

.page-wrap {
  text-align: center;
  padding: 25px 15px;
}

.tools-bar {
  display: flex;
  border-bottom: 1px solid $gray;
  padding:15px;
  justify-content: space-between;
  margin-bottom: 20px;
  position: fixed;
  top:60px;
  background: $light;
  left: 200px;
  right: 0;
  z-index: 1001;
  .left-wrap {
    display: flex;
    align-items: center;
    flex: 1;
    .ceil-box {
      margin: 0 10px;
      width: 15%;
      display: flex;
      align-items: center;
      >span {
        padding-right: 10px;
        white-space: nowrap;
      }
    }
  }
}

.full {
  width: 100% !important;
}
.page{
  padding: 80px 20px 20px;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
}
