.text-primary {
  color: $color-primary
}

.text-white {
  color: $color-white
}

.text-black {
  color: $color-black
}

.text-success {
  color: $color-success
}

.text-warning {
  color: $color-warning
}

.text-danger {
  color: $color-danger
}

.text-info {
  color: $color-info
}
