$light:#fff;
$black:#000;
$gray:#eee;
$gray-ee:#eef1f6;
$stable-dc:#dcdfe6;
$stable-f5:#f5f7fa;
$dark03:#303133 !default;
$color-primary: #409EFF !default;

$font-size-12:12px;
$font-size-14:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;
